<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arthur.biblia_digital" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/biblia"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ListaLivros"
            android:label="@string/title_activity_lista_livros" >
        </activity>
        <activity
            android:name=".ListaCapitulos"
            android:label="@string/title_activity_lista_capitulos" >
        </activity>
        <activity
            android:name=".ListaVersiculos"
            android:label="@string/title_activity_lista_versiculos" >
        </activity>
        <activity
            android:name=".ListaAZ"
            android:label="@string/title_activity_lista_az" >
        </activity>
        <activity
            android:name=".ListaFavoritos"
            android:label="@string/title_activity_lista_favoritos">
        </activity>
        <activity
            android:name=".ListaHistorico"
            android:label="@string/title_activity_lista_historico" >
        </activity>
        <activity
            android:name=".ListaVersiculosFragment"
            android:label="@string/title_activity_lista_versiculos_fragment" >
        </activity>
        <activity
            android:name=".TelaInicial"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
